# Ruby & Bundler
/.bundle/
/vendor/bundle/
*.gem

# DragonRuby Binaries & Builds
dragonruby
dragonruby-publish
*.zip
mygame-html5/
.dragonruby/

# OS & Editor files
.DS_Store
*.swp
*~
.idea/
.vscode/
