# Ruby & Bundler
/.bundle/
/vendor/bundle/
*.gem

# DragonRuby Binaries & Default Assets
dragonruby
dragonruby-publish
font.ttf
*.zip
mygame-html5/
.dragonruby/
logs/
errors/
builds/

# Always commit html5 build package
!html5/
!html5/**

# OS & Editor files
.DS_Store
*.swp
*~
.idea/
.vscode/
